* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    background-color: chocolate;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #fff;
}

nav {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: #fff;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

img {
    max-width: 600px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: chocolate;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
